* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  background-color: #7fffd4;
}

.game-container {
  /* width: 484px; */
  height: calc(100vh - 140px);
}

/* .game-board {
	position: relative;
	border: 2px solid rgb(0, 23, 50);
} */

.grid100 {
	position: relative;
	max-height: 480px;
	max-width: 480px;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

.grid81{
	position: relative;
	max-height: 432px;
	max-width: 432px;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

.grid49{
	position: relative;
	max-height: 336px;
	max-width: 336px;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

.cell {
	width: 48px;
	height: 48px;
	cursor: pointer;
	border: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;

	aspect-ratio: 1;
  background-color: #9dc5c7;
  border: 5px outset #9dc5c7;
  box-shadow: 0 0 2px inset black;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}

/* .cell:hover, */
.cell-clicked {
  /* background-color: rgb(157, 197, 199); */
	background-color: wheat;
  border: 5px inset wheat;
  /* pointer-events: none; */
  /* user-select: none; */
}

/* .num {
} */

.cell-bomb {
	/* background-color: rgb(241, 117, 78); */
	background-color: coral;
  border: 5px inset coral;
}

.game-end {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* line-height: 200px; */
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: bold;   
}

.game-end.win {
  background-color: rgba(22, 255, 76, 0.2);
  color: yellowgreen;
  text-shadow: 1px 1px black,
              -1px -1px black,
               1px -1px black,
              -1px 1px black;  
}

.game-end.lose {
  color: crimson;
  background-color: rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px white,
              -1px -1px white,
               1px -1px white,
              -1px 1px white;   
}